<ion-view title="Button">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
		<button class="button">
		  Default
		</button>
		
		<button class="button button-light">
		  button-light
		</button>
		
		<button class="button button-block button-positive">
		  Block Button
		</button>
		
		<button class="button button-full button-positive">
		  Full Width Block Button
		</button>
		<p>
			<button class="button button-outline button-positive">
			  Outlined Button
			</button>
		</p>
		<button class="button button-clear button-positive">
		  Clear Button
		</button>
		
		<p>
			<button class="button icon-left ion-home">Home</button>
		</p>
		<p>
			<button class="button icon-left ion-star button-positive">Favorites</button>
		</p>
		<p>
		<a class="button icon-right ion-chevron-right button-calm">Learn More</a>
		</p>
		<p>
		<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
		</p>
		<p>
		<button class="button icon ion-gear-a"></button>
		</p>
		<p>
		<a class="button button-icon icon ion-settings"></a>
		</p>
		<p>
		<a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
		</p>
		<p>
		<div class="button-bar">
		  <a class="button">First</a>
		  <a class="button">Second</a>
		  <a class="button">Third</a>
		</div>
		</p>    

    </ion-content>
</ion-view>