<ion-view title="DatePicker">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header"  padding="true">
    <p>Ionic framework is not providing date/time picker widget.<p>
    	<!-- <p>For date picker , we can use cordova <a href="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker">plugin</a>(Tested on android).</p>
    	<p>For Time picker , we can use the phonegap <a href="http://bikasv.com/blog/2013/04/14/cordova-datepicker/">plugin</a>(Not checked yet).</p> -->
  </ion-content>
</ion-view>